<footer>
    <nav>
        <ul class="containsGrid G6 GS" id="footerOne">
            <li class="G2 GS">
                <h2 class="implied"></h2>
				&nbsp;
            </li>
            <li class="G1">
                <h2 class="HSC"></h2>
                <ul>
                    <li> </li>
                    <li> </li>
                    <li> </li>
                </ul>
            </li>
            <li class="G1">
                <h2 class="HSC"></h2>
                <ul>
                    <li> </li>
                    <li> </li>
                    <li> </li>
                </ul>
            </li>
            <li class="G1">
                <h2 class="HSC"></h2>
                <ul>
                    <li><a href="http://github.com/jwang">GitHub</a></li>
                    <li><a href="http://linkedin.com/in/johntwang">LinkedIn</a></li>
                    <li><a href="http://code.google.com/u/jwang392/">Google Code</a></li>
                </ul>
            </li>
            <li class="G1">
                <h2 class="HSC"></h2>
                <ul>
                    <li><a href="http://facebook.com/johntwang">Facebook</a></li>
                    <li><a href="http://twitter.com/johntwang">Twitter</a></li>
                    <li><a rel="author" href="https://plus.google.com/108799089017956718581">Google +</a></li>
                </ul>
            </li>
        </ul><!-- .containsGrid.G6GS#footerOne -->
        
        <ul class="G6 GS" id="footerTwo">
            <li><a href="{{ site.url }}">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/archives">Archives</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="{{ site.url }}"></a> © 2011 John T Wang</li>
        </ul><!-- G6.GS#footerOne -->
    </nav>
</footer>

<script src="http://platform.twitter.com/anywhere.js?id=ZYxgSVoTMH1GGqs09FBTUg&amp;v=1"></script>

<script>!window.jQuery && document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"><\/script>');</script>
<script src="/js/external/jquery.fancybox-1.3.1.min.js"></script>
<script src="/js/external/jquery.timeago-0.9.min.js"></script>
<script src="/js/ia3.js?v=1"></script>
<script>
    window.BASE_URL = '{{ site.url }}';

    $(document).ready(function() {
        $(document).trigger('CORE:HAS_INITIALIZED');
    });
    
    $(window).resize(function() {
        $(document).trigger('CORE:HAS_RESIZED');
    });
</script>