  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
	Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />

  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="/css/style.css?v=1">
  <link rel="stylesheet" href="/css/style-ia3-1.0.2.css?v=1">
  <link rel="stylesheet" href="/css/style-fancybox-1.3.1.css?v=1">
  <link rel="stylesheet" href="/css/syntax.css">

  <meta name="readability-verification" content="TUtXzYNbXNxTWmLsy33dNs5x5hZrFnApsrpF6WBt"/>
  <meta name="description" content="" />
  <meta name="description" content="Personal homepage of John Wang">
  <meta name="author" content="John Wang">

  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="alternate" href="http://feeds.feedburner.com/JohnTWang" type="application/rss+xml" />

  <script src="/js/external/modernizr-1.5.min.js"></script>

<!-- Custom Colours -->
<style>
    a,
    a:hover,
    label,
    .HSC,
    .index #content section.G6 h1 {
    color:#CC0000;
    }

    a:visited {
    color:#AA0000;
    }
</style>