<header>
    <h1 class="G2 GS">
        <a class="G1 GS" href="http://johntwang.com">John T Wang</a>
    </h1><!-- .G2.GS -->
    <nav>
        <ul class="containsGrid G3" id="headerOne">
            <li class="G1 GS">
                <h2 class="HSC"></h2>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </li>
            <li class="G1">
                <h2 class="HSC">Articles</h2>
                <ul>
					<li><a href="/blog">Blog</a></li>                    
                    <li><a href="/archives">Archives</a></li>
                    <li><a href="/search">Search</a></li>
                </ul>
            </li>
            <li class="G1">
                <h2 class="HSC">Projects</h2>
                <ul>
                    <li><a href="/three20">Three20</a></li>
                    <li><a href="http://github.com/jwang">GitHub</a></li>
                    <li></li>
                </ul>
            </li>
        </ul><!-- .containsGrid.G3#headerOne -->
        <ul class="containsGrid G1" id="headerTwo">
            <li class="G1 GS">
                <h2 class="HSC">About</h2>
                <ul>
                    <li><a rel="me" href="/about">Profile</a></li>
                    <li>Resume</li>
                    <li><a href="/resources">Resources</a></li>
                </ul>
            </li>
        </ul><!-- .containsGrid.G1x#headerTwo -->
    </nav>
</header>
<hr class="implied" />
