<section id='social'>
  <a href='http://twitter.com/johntwang'><img src='/images/twitter-2.png' /></a>
  <a href='https://profiles.google.com/108799089017956718581'><img src='/images/google-plus-black.png' /></a>
  <a href='http://www.linkedin.com/in/johntwang'><img src='/images/linkedin.png' /></a>
  <a href='http://github.com/jwang'><img src='/images/github.png' /></a>
  <a href='http://stackoverflow.com/users/103215/john-wang'><img src='/images/stackoverflow.png' /></a>
  <a href='http://facebook.com/johntwang'><img src='/images/facebook.png' /></a>
  <a href='http://www.flickr.com/photos/johntwang/'><img src='/images/flickr.png' /></a>
</section>