{% include header.html %}

<body class="page">
    <div id="screen">
        {% include header_nav.html %}

        <section class="G2 GS">        	
            <div>
                <p></p>
                <p></p>
                <h1 class="HSC">Contact Info</h1>
                <dl class="containsAddress">
                      <dt><img src='/images/twitter-2.png' /></dt>
                      <dd class="twitter"><a class="twooser" href="http://twitter.com/johntwang">@johntwang</a></dd>
                      <dt><img src='/images/linkedin.png' /></dt>
                      <dd class="linkedin"><a href="http://www.linkedin.com/in/johntwang">John Wang</a></dd>
                      <dt><img src='/images/github.png' /></dt>
                      <dd class="github"><a href="http://github.com/jwang">jwang</a></dd>
                </dl>
                <a rel="me" href="https://profiles.google.com/108799089017956718581">
                    <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png">
                </a>
            </div>
        </section><!-- .ia.ia-2.ia-s -->
        
        
        <article class="G4 GR" id="content">            
            <header>
                <h1>{{ page.title }}</h1>
            </header>
            <div class="formatted">
                {{ content }}
            </div><!-- .formatted -->            
        </article><!-- #content.G4.GR.GS -->
        <hr class="implied" />

        {% include footer.html %}
